name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.13.2'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest coverage
    - name: Test with pytest
      run: |
        pytest
    - name: Generate coverage report
      run: |
        coverage run -m pytest
        coverage report -m
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage.xml